body {
    font-family: 'Comfortaa', cursive;
}
.portada_juego {
/*     margin-left: 800px; */
margin-bottom: 50px;
height: 70px;
width: 70px;
padding-bottom: 40px;
}
.titulo_juego {
    width: 200px;
}
.main {
     column-count: 4; 
    padding-left: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
}
#padre {
    position: relative;
    width: 800px;
    height: 170px;
    padding-top: 70px;
   }