<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  </head>
  
<body>
  <div *ngFor="let gms of juegos">
      <div class="container-sm espacio-busqueda">
    <input class="form-control mr-sm-2 busqueda" type="search" placeholder="Search your favorite game"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 boton" type="submit">Search</button>
  </div>
  <div id="jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2><p class="titulo_juego">{{gms.name}}</p></h2>
    </div>
  </div>
  <div>
    <img src="{{ gms.cover.url }}" class="caratula" width="200px">
  </div>
  <div class="container-fluid">
    <div class="cajon1" id="cajon1">
      <div *ngFor="let scrn of gms.screenshots">
        <img src="{{ scrn.url }}" class="fototeca">
      </div> 
      <br>

      <h4>Description:</h4>
      <p>{{ gms.summary }}</p>
      <br>
      <div *ngFor="let age of gms.age_ratings">
        <br>
        <h4>Age Content Description:</h4>
        <div *ngFor="let cont of age.content_descriptions">
          {{ cont.description }}
        </div>
      </div>
      <br>
      <h4>Genres:</h4>
      <div *ngFor="let gen of gms.genres">
        {{ gen.name }}
      </div>
      <br>
      <h4>DLC's:</h4>
      <div *ngFor="let dlcs of gms.dlcs">
        {{ dlcs.name }}
      </div>
      <br>
      <h4>Company Names:</h4>
      <div *ngFor="let comp of gms.involved_companies">
        {{ comp.company.name }}
      </div>
      <br>
      <h4>Rating:</h4>
      {{ gms.rating }}
      <br>
      <br>
      <h4>Similar Games:</h4>
      <div *ngFor="let smgm of gms.similar_games">
        <div *ngFor="let cvr of gms.similar_games.cover">
          <img src="{{ cvr.url }}">
        </div>
        {{ smgm.name }}
      </div>
  </div>
  
  </div>

  <footer class="bg-light text-lg-start">
    
    <div class="text-center p-3" id="color">

        <div class="row">
    
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <a href="/">
                    <img src="../assets/img/logodefintivo.png"  width="60" height="60" alt="Logo" class="logo_gamedia">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <br>
               <p>© 2021 Copyright: GAMEDIA</p> 
            </div>
            
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <a title="Twitch" href="https://www.twitch.tv/"><img src="../assets/img/footer/twitch.png" width="50" height="50" alt="Twitch"></a>
                <a title="Facebook" href="https://es-es.facebook.com/"><img src="../assets/img/footer/facebook.png" width="40" height="40" alt="Facebook"></a>
                <a title="Instagram" href="https://www.instagram.com/"><img src="../assets/img/footer/instagram.png" width="50" height="50" alt="Instagram"></a>
                <a title="Twitter" href="https://twitter.com/?lang=es"><img src="../assets/img/footer/twitter.png" width="45" height="45" alt="Twitter"></a>
                <a title="Discord" href="https://discord.com/"><img src="../assets/img/footer/discord.png" width="50" height="50" alt="Discord"></a>
                <a title="Youtube" href="https://www.youtube.com/"><img src="../assets/img/footer/youtube.png" width="60" height="60" alt="Youtube"></a>
            </div>

        </div>
        
    </div>
    
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- </body>

</html> -->
