<!doctype html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light barra">
    <a class="navbar-brand" href="/home">
      <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
      <div class="navbar-nav barranav">
        <a class="nav-item nav-link" href="/categorias">CATEGORIAS</a>
        <a class="nav-item nav-link" href="/quienessomos">QUIENES SOMOS</a>
        <a class="nav-item nav-link" href="/contacto">CONTACTO</a>
        <a class="nav-item nav-link" href="/login">LOGIN</a>
      </div>
    </div>
  </nav>
  <hr>
  <div class="container-sm espacio-busqueda">
    <input class="form-control mr-sm-2 busqueda" type="search" placeholder="Search your favorite game"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 boton" type="submit">Search</button>
  </div>
  <div class="slider">
    <ul>
      <li>
        <img src="../assets/img/instant-gaming.png" class="carousel" alt="">
        <img src="../assets/img/easports.png" class="carousel" alt="">
        <img src="../assets/img/cdproject.png" class="carousel" alt="">
      </li>
      <li>
        <img src="../assets/img/mastercard.png" class="carousel1" alt="">
        <img src="../assets/img/xbox.png" class="carousel1" alt="">
        <img src="../assets/img/playstation.png" class="carousel1" alt="">
      </li>
    </ul>
  </div>
  <hr>
  <div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="cards">

      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div id="card1" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
          <h4 class="card-title">Rebajas al 50%</h4>
          <a href="rebajas.html"><img src="30.JPG" class="card-img-top" alt="Card image" /></a>
        </div>

        <div id="card2" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
          <h4 class="card-title">Rebajas al 50%</h4>
          <a href="rebajas.html"> <img src="40.JPG" class="card-img-top" alt="Card image"/></a>
        </div>

        <div id="card3" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px">
          <h4 class="card-title">Rebajas al 50%</h4>
          <a href="rebajas.html"> <img src="50.JPG" class="card-img-top" alt="Card image"/></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>