<!doctype html>
<html>

<head>
  <title>Home</title>
</head>

<body>
  <div class="fondo" alt="zelda climbing a mountain">
    <hr>
    <div id="padre" class="container-sm">
      <form class="form-inline">
        <app-barra-busqueda></app-barra-busqueda>
      </form>
    </div>
  </div>
  <div class="slider">
    <ul>
      <li class="carousel">
        <img src="../assets/img/twitch-logo.png" alt="Twitch">
        <img src="../assets/img/easports.png" alt="EA Sports">
        <img src="../assets/img/cdproject.png" alt="CD Projekt">
      </li>
      <li>
        <img src="../assets/img/mastercard.png" class="carousel1" alt="Mastercard">
        <img src="../assets/img/xbox.png" class="carousel1" alt="Xbox">
        <img src="../assets/img/playstation.png" class="carousel1" alt="Playstation">
      </li>
    </ul>
  </div>
  <div id="jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="cards">

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <div id="card1" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">Juegos mejor valorados</h4>
            <a href="http://localhost:4200/portada/mejorValorados"><img src="../assets/img/juegos_mas_valorados.jpg" class="card-img-top" alt="Card image" /></a>
          </div>

          <div id="card2" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px">
            <h4 class="card-title">Últimos lanzamientos</h4>
            <a href="http://localhost:4200/portada/ultimos"> <img src="../assets/img/novedades.jpg" class="card-img-top" alt="Card image" /></a>
          </div>

          <div id="card3" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">Juegos más seguidos</h4>
            <a href="http://localhost:4200/portada/masSeguidos"><img src="../assets/img/juegos_mas_seguidos.jpg" class="card-img-top" alt="Card image" /></a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</body>

</html>