<!doctype html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="fondo" alt="zelda climbing a mountain">
    <hr>
    <div id="padre" class="container-sm">
      <form class="form-inline">
        <app-barra-busqueda></app-barra-busqueda>
      </form>
    </div>
  </div>
  <div class="slider">
    <ul>
      <li class="carousel">
        <img src="../assets/img/twitch-logo.png" alt="Twitch">
        <img src="../assets/img/easports.png" alt="EA Sports">
        <img src="../assets/img/cdproject.png" alt="CD Projekt">
      </li>
      <li>
        <img src="../assets/img/mastercard.png" class="carousel1" alt="Mastercard">
        <img src="../assets/img/xbox.png" class="carousel1" alt="Xbox">
        <img src="../assets/img/playstation.png" class="carousel1" alt="Playstation">
      </li>
    </ul>
  </div>
  <div id="jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="cards">

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <div id="card1" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">50% off</h4>
            <a href="rebajas.html"><img src="30.JPG" class="card-img-top" alt="Card image" /></a>
          </div>

          <div id="card2" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">50% off</h4>
            <a href="rebajas.html"> <img src="40.JPG" class="card-img-top" alt="Card image" /></a>
          </div>

          <div id="card3" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px">
            <h4 class="card-title">50% off</h4>
            <a href="rebajas.html"> <img src="50.JPG" class="card-img-top" alt="Card image" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="jumbotron2" class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="cards">

        <div class="row col-xs-16 col-sm-16 col-md-16 col-lg-16 col-xl-16">

          <div id="card1" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">50% off</h4>
            <img src="30.JPG" class="card-img-top" alt="Card image" />
          </div>

          <div id="card2" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px;">
            <h4 class="card-title">50% off</h4>
            <img src="40.JPG" class="card-img-top" alt="Card image" />
          </div>

          <div id="card3" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:270px">
            <h4 class="card-title">50% off</h4>
            <img src="50.JPG" class="card-img-top" alt="Card image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-lg-start">

    <div class="text-center p-3" id="color">

      <div class="row">

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <a href="/">
            <img src="../assets/img/logodefintivo.png" width="60" height="60" alt="Logo" class="logo">
          </a>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <br>
          <p>© 2021 Copyright: GAMEDIA</p>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <a title="Twitch" href="https://www.twitch.tv/"><img src="../assets/img/footer/twitch.png" width="50"
              height="50" alt="Twitch"></a>
          <a title="Facebook" href="https://es-es.facebook.com/"><img src="../assets/img/footer/facebook.png" width="40"
              height="40" alt="Facebook"></a>
          <a title="Instagram" href="https://www.instagram.com/"><img src="../assets/img/footer/instagram.png"
              width="50" height="50" alt="Instagram"></a>
          <a title="Twitter" href="https://twitter.com/?lang=es"><img src="../assets/img/footer/twitter.png" width="45"
              height="45" alt="Twitter"></a>
          <a title="Discord" href="https://discord.com/"><img src="../assets/img/footer/discord.png" width="50"
              height="50" alt="Discord"></a>
          <a title="Youtube" href="https://www.youtube.com/"><img src="../assets/img/footer/youtube.png" width="60"
              height="60" alt="Youtube"></a>
        </div>

      </div>

    </div>

  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>