<!doctype html>
<html>

<head>
    <title>Quienes somos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light barra">
        <a class="navbar-brand" href="/home">
            <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
            <div class="navbar-nav barranav">
                <a class="nav-item nav-link" href="/categorias">CATEGORIAS</a>
                <a class="nav-item nav-link" href="/quienessomos">QUIENES SOMOS</a>
                <a class="nav-item nav-link" href="/contacto">CONTACTO</a>
                <a class="nav-item nav-link" href="/login">LOGIN</a>
            </div>
        </div>
    </nav>
    <hr>

    <img src="../assets/img/quienes_somos/Equipo.jpg" class="equipo" alt="">

    <footer class="bg-light text-lg-start">
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

            <div class="row">
        
                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <img src="../assets/img/logodefintivo.png"  width="60" height="60" alt="" class="logo">
                </div>
    
                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <br>
                   <p>© 2021 Copyright: GAMEDIA</p> 
                </div>
                
                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <img src="../assets/img/footer/twitch.png" width="50" height="50" alt="">
                    <img src="../assets/img/footer/facebook.png" width="40" height="40" alt="">
                    <img src="../assets/img/footer/instagram.png" width="50" height="50" alt="">
                    <img src="../assets/img/footer/twitter.png" width="45" height="45" alt="">
                    <img src="../assets/img/footer/discord.png" width="50" height="50" alt="">
                    <img src="../assets/img/footer/youtube.png" width="60" height="60" alt="">
                </div>

            </div>
            
        </div>
        
    </footer>

</body>

</html>
