<!doctype html>
<html>

<head>
    <title>Quienes somos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light barra">
        <a class="navbar-brand" href="/home">
            <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
            <div class="navbar-nav barranav">
                <a class="nav-item nav-link" href="/categorias">CATEGORIAS</a>
                <a class="nav-item nav-link" href="/quienessomos">QUIENES SOMOS</a>
                <a class="nav-item nav-link" href="/contacto">CONTACTO</a>
                <a class="nav-item nav-link" href="/login">LOGIN</a>
            </div>
        </div>
    </nav>
    <hr>

    <footer class="bg-light text-center text-lg-start">

        <div class="container p-4">
      
            <div class="row">
        
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">RRSS</h5>
  
            <img class="correo" src="correo.png"> <a>vapehouse@gmail.com</a>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">RRSS</h5>
      
            <img class="twitter" src="twitter.png"> <a>@VapeHouse</a>
            </div>
            
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Ubicación</h5>
    
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12322.629051824893!2d-0.4596732499999999!3d39.45447795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x630c96605c07d3ce!2sCastillo-Palacio%20de%20Alaqu%C3%A0s!5e0!3m2!1ses!2ses!4v1604435344506!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            </div>
        </div>
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <img src="../assets/img/logodefintivo.png" width="60" height="60" alt="">
        </div>
    
    </footer>

</body>

</html>
