<!doctype html>
<html>

<head>
    <title>Quienes somos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light barra">
        <a class="navbar-brand" href="/home">
            <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
            <div class="navbar-nav barranav">
                <a class="nav-item nav-link" href="/categorias">CATEGORIAS</a>
                <a class="nav-item nav-link" href="/quienessomos">QUIENES SOMOS</a>
                <a class="nav-item nav-link" href="/contacto">CONTACTO</a>
                <a class="nav-item nav-link" href="/login">LOGIN</a>
            </div>
        </div>
    </nav>
    <hr>

    <div class="container">
        <h1>¿Quiénes Somos?</h1>

        <div class="margenes">

        <img src="../assets/img/quienes_somos/Equipo.jpg" class="equipo" alt="">

        <hr>

        <p>Somos un grupo de DAW que ha decidido crear una página web con un buscador de videojuegos.
            Nuestro objetivo es conseguir que la gente pueda estar mejor informada sobre un juego, como por ejemplo el
            tipo de género o en que consiste, para poder decidir si merece la pena comprarlo. </p>

        </div>

    </div>

    <div class="iframe">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398134.5474670362!2d7.103037897328578!3d46.80959393620904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2sSuiza!5e0!3m2!1ses!2ses!4v1613467094618!5m2!1ses!2ses"
            width="450" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
        </iframe>
    </div>

</body>

</html>