.logo {
    float: left;
}

#color {
    background-color: rgba(0, 0, 0, 0.2);
}


.equipo {
    width: 900px;
    height: 375px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.iframe {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 40px;
}

.container {
    width: 70%;
    text-align: center;
}

.margenes {
    margin-bottom: 50px;
    margin-top: 30px;
}