body {
    font-family: 'Comfortaa', cursive;
}
.barranav > a:hover {
    background-color: black;
    color: white;
    border-radius: 6px;
}
.botones {
    margin: 4px;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.barra  {
    padding-top: 20px
}
hr {
    margin-left: 30px;
    margin-right: 25px;
}
.busqueda {
    border-radius: 10px;
}
.boton {
    border-radius: 10px;
}

.logo {
    float: left;
}

.equipo {
    width: 900px;
    height: 375px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.iframe {
    text-align: center;
}

.container {
    width: 70%;
    text-align: center;
}

.margenes {
    margin-bottom: 50px;
    margin-top: 30px;
}