<!doctype html>
<html>

<head>
  <title>Contacto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>

  <hr>

  <div class="container">

    <img src="../assets/img/contacto/pregunta.jpg" alt="pregunta" id="imgpregunta">
    <h5 id="margentitulo">Contacto</h5>

    <form name="form">

      <div class="form-group">
        <label for="nombre" id="margen">Nombre: </label>
        <input type="text" class="form-control" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos: </label>
        <input type="text" class="form-control" name="apellidos" required>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" class="form-control" name="email" required>
      </div>
      <div class="form-group">
        <label for="asunto">Asunto: </label>
        <input type="text" class="form-control" name="asunto" required>
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje: </label>
        <textarea class="form-control" name="mensaje" rows="4" required></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn">Enviar</button>
      </div>

    </form>
  </div>


  <footer class="bg-light text-lg-start">

    <div class="text-center p-3" id="color">

      <div class="row">

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <a href="/">
            <img src="../assets/img/logodefintivo.png"  width="60" height="60" alt="" class="logo">
          </a>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <br>
          <p>© 2021 Copyright: GAMEDIA</p>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <a title="Twitch" href="https://www.twitch.tv/"><img src="../assets/img/footer/twitch.png" width="50"
              height="50" alt=""></a>
          <a title="Facebook" href="https://es-es.facebook.com/"><img src="../assets/img/footer/facebook.png" width="40"
              height="40" alt=""></a>
          <a title="Instagram" href="https://www.instagram.com/"><img src="../assets/img/footer/instagram.png"
              width="50" height="50" alt=""></a>
          <a title="Twitter" href="https://twitter.com/?lang=es"><img src="../assets/img/footer/twitter.png" width="45"
              height="45" alt=""></a>
          <a title="Discord" href="https://discord.com/"><img src="../assets/img/footer/discord.png" width="50"
              height="50" alt=""></a>
          <a title="Youtube" href="https://www.youtube.com/"><img src="../assets/img/footer/youtube.png" width="60"
              height="60" alt=""></a>
        </div>

      </div>

    </div>

  </footer>

</body>

</html>