form > div > button{
    background-color: #F10303;
    color: #FFFFFF;
}

form > div > button:hover{
    background-color: #CD0000;
    color: #FFFFFF;
}

#margen{
    padding-top: 20px;
}

#imgpregunta{
    width: 50%;
    height: 30%;
    margin-left: -8%;
}

input{
    width: 27%;
}

textarea{
    width: 27%;
}

.container{
    margin-left: 41%;
    margin-bottom: 2%;
    margin-top: 2%;
}