<body>
    <nav class="navbar navbar-expand-lg navbar-light barra">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
  </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/categorias">CATEGORIAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quienessomos">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">CONTACTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
        </ul>
      </div>
</nav>
</body>
<router-outlet></router-outlet>