.barranav > li{
    color: white;
}

.barranav > li:hover {
        color: white;
    border-radius: 6px;
}
.botones {
    margin: 4px;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.barra  {
    padding-top: -20px
}
.fondo {
    background-image: url(/assets/img/zelda.jpg);
    background-size: cover;
    height: 722px;
}
hr {
    margin-left: 30px;
    margin-right: 25px;
    margin-top: -5px;
}

.busqueda {
    border-radius: 10px;
}
.espacio-busqueda {
	padding-top: 250px;
}
.boton {
    border-radius: 10px;
}