<!doctype html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light barra">
        <a class="navbar-brand" href="/home">
            <img src="../assets/img/logodefintivo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
            <div class="navbar-nav barranav">
                <a class="nav-item nav-link" href="/categorias">CATEGORIAS</a>
                <a class="nav-item nav-link" href="/quienessomos">QUIENES SOMOS</a>
                <a class="nav-item nav-link" href="/contacto">CONTACTO</a>
                <a class="nav-item nav-link" href="/login">LOGIN</a>
            </div>
        </div>
    </nav>
    <hr>

    <div class="container">

        <h5 id="margentitulo">Register</h5>

        <form name="form" novalidate>
            
          <div class="form-group">
            <label for="username" id="margen">Username: </label>
            <input type="text" class="form-control" name="username" required>
          </div>      
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control" name="email" required>
          </div>      
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="text" class="form-control" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password: </label>
            <input type="text" class="form-control" name="confirmPassword" required>
          </div>
    
          <div class="form-group">
            <button type="submit" class="btn btn-success">Create account</button>
          </div>

        </form>
    </div>
    
</body>

</html>
