form > div > button{
    background-color: #F10303;
    color: #FFFFFF;
}

form > div > button:hover{
    background-color: #CD0000;
    color: #FFFFFF;
}

#margen{
    padding-top: 20px;
}

#centrar{
    text-align: center;
}

#margenBotonLogin{
    margin-bottom: 5%;
}

#botonRegister > a:hover, a:active, a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

input{
    width: 27%;
}

.container{
    margin-left: 41%;
    margin-bottom: 12%;
    margin-top: 5%;
}