<!doctype html>
<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico" alt="icon"/>
</head>

<body>

    <hr>

    <div class="container">

        <h5>Login</h5>

        <form name="form" novalidate>
            
          <div class="form-group">
            <label for="username" id="margen">Username: </label>
            <input type="text" class="form-control" name="username" required>
          </div>    
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="text" class="form-control" name="password" required>
          </div>
    
          <div class="form-group">
            <button type="submit" class="btn" id="margenBotonLogin">Login</button>
          </div>
          
          <div class="form-group">
            <p>You are not registered?</p>
            <button type="submit" class="btn" id="margenBotonRegister" id="botonRegister"><a href="/register">Register</a></button>
          </div>

        </form>
    </div>

    <app-footer></app-footer>
    
</body>

</html>
