form > div > button{
    background-color: #F10303;
    color: #FFFFFF;
}

form > div > button:hover{
    background-color: #CD0000;
    color: #FFFFFF;
}

#margentitulo{
    padding-top: 20px;
}

#margen{
    padding-top: 20px;
}

#centrar{
    text-align: center;
}

#margenBotonRegister{
    margin-bottom: 76px;
}

#margenBotonLogin{
    margin-bottom: 50px;
}

#botonRegister > a:hover, a:active, a:link, a:visited {
    color: white;
    text-decoration: none;
}
