<footer class="bg-light text-lg-start footer">

  <div class="text-center p-3" id="color">

    <div class="row">

      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <a href="/">
          <img src="../assets/img/logodefintivo.png" width="60" height="60" alt="Logo" class="logo">
        </a>
      </div>

      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <br>
        <p>© 2021 Copyright: GAMEDIA</p>
      </div>

      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <a title="Twitch" href="https://www.twitch.tv/"><img src="../assets/img/footer/twitch.png" width="50"
            height="50" alt="Twitch"></a>
        <a title="Facebook" href="https://es-es.facebook.com/"><img src="../assets/img/footer/facebook.png" width="40"
            height="40" alt="Facebook"></a>
        <a title="Instagram" href="https://www.instagram.com/"><img src="../assets/img/footer/instagram.png"
            width="50" height="50" alt="Instagram"></a>
        <a title="Twitter" href="https://twitter.com/?lang=es"><img src="../assets/img/footer/twitter.png" width="45"
            height="45" alt="Twitter"></a>
        <a title="Discord" href="https://discord.com/"><img src="../assets/img/footer/discord.png" width="50"
            height="50" alt="Discord"></a>
        <a title="Youtube" href="https://www.youtube.com/"><img src="../assets/img/footer/youtube.png" width="60"
            height="60" alt="Youtube"></a>
      </div>

    </div>

  </div>

</footer>
