<!doctype html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <hr>

    <div class="container">
      <div *ngIf="failuser" class="float-right">
        <p class="p-3 bg-danger text-white rounded">Error: Account not created {{mensajeFail}}</p>
      </div>
      <div *ngIf="creado" class="float-right">
        <p class="p-3 bg-success text-white rounded">Account created {{mensajeOK}}</p>
      </div>
        <h5 id="margentitulo">Register</h5>

        <form name="form" (ngSubmit)=onCreate() #f="ngForm" novalidate>
        
          <div class="form-group">
            <label for="name" id="margentitulo">Name: </label>
            <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required autocomplete="off">
          </div>     
          <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required autocomplete="off">
          </div>      
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required autocomplete="off">
          </div>      
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required autocomplete="off">
          </div>
          
          <div id="margenfooter">
            <button type="submit" class="btn" [disabled]="!f.valid" onclick="document.getElementById('ms').showModal()">Create</button>
            <button class="btn" (click)="volver()" id="margenboton">Return</button>  
          </div>
          <dialog id="ms">
            <p>Account created, press continue.</p>
            <a href="/"><button id="close" onclick="window.location.href='/'">Continue</button></a>
          </dialog>
      
        </form>
     
    </div>

    <app-footer></app-footer>
    
</body>

</html>
