form > div > button{
    background-color: #F10303;
    color: #FFFFFF;
}

form > div > button:hover{
    background-color: #CD0000;
    color: #FFFFFF;
}

#margentitulo{
    padding-top: 20px;
}

#margenfooter{
    padding-top: 20px;
    padding-bottom: 50px;
}

#margenboton{
    margin-left: 20px;
}
