body {
    font-family: 'Comfortaa', cursive;
}

.barranav > a{
    color: #000000;
}

.barranav > a:hover {
    background-color: black;
    color: white;
    border-radius: 6px;
}

.botones {
    margin: 4px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.barra  {
    padding-top: 20px
}

hr {
    margin-left: 30px;
    margin-right: 25px;
}

.busqueda {
    border-radius: 10px;
}

.boton {
    border-radius: 10px;
}


#margentitulo{
    padding-top: 20px;
}

#margen{
    padding-top: 20px;
}

#centrar{
    text-align: center;
}

#margenboton{
    margin-bottom: 38px;
}


.logo {
    float: left;
}

#color {
    background-color: rgba(0, 0, 0, 0.2);
}
