form > div > button{
    background-color: #F10303;
    color: #FFFFFF;
}

form > div > button:hover{
    background-color: #CD0000;
    color: #FFFFFF;
}

#margenboton{
    margin-left: 20px;
}

input{
    width: 27%;
}

.container{
    margin-left: 41%;
    margin-bottom: 12%;
    margin-top: 5%;
}